<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a Computer Engineering student at  
      <a class="underline-link" href="https://grainger.illinois.edu/academics/undergraduate/majors-and-minors/computer-engineering" target="_blank">UIUC</a> focusing on Robitics, AI, and cybernetics. I recently worked with
      <a class="underline-link" href="http://www.ccis.northeastern.edu/" target="_blank">Sandia National Laboratories</a> as an embedded engineer, working on a Radiation Hardened Processor. I also completed internships with
      <a class="underline-link" href="https://tech.target.com/" target="_blank">Target</a>,
      <a class="underline-link" href="https://www.kadena.io/" target="_blank">Kadena</a>, and
      <a class="underline-link" href="https://www.linkedin.com/company/xclusive-sports-management-llc/" target="_blank">Xclusive Sports Management</a>.
    </p>

    <p>
      As an embedded engineer focused on startups, I enjoy building products &mdash; combining my technical expertise
      with my keen eye for design to create a beautiful product. My goal is to always build applications that are scalable
      and efficient under the hood while providing engaging, pixel-perfect user experiences.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably playing bouldering, DJing,
      and traveling around the world.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
