<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://goatos.org/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/goatos/goatosgui.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://goatos.org/" target="_blank">GoatOS</a>
        </div>
        <p>Custom operating system based on Linux with full capabilities, including a filesystem, various drivers, and painting.</p>
      </figcaption>
    </div>

    <div class="project screentime">
      <figure class="project__pic phones">
        <a href="https://github.com/manaspgandhi" target="_blank">
          <figure class="project__pic">
        <a href="https://github.com/manaspgandhi" target="_blank">
          <img src="{{site.baseurl}}/img/featured/microprocessor/microprocessor.png" alt="">
        </a>
      </figure>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/manaspgandhi" target="_blank">GoatMicroprocessor</a>
        </div>
        <p>Microprocessor made from scratch in SystemVerilog with CPU, 2700kb on-chip memory, I/O interfaces, and a custom instruction set with opcode management.</p>
      </figcaption>
    </div>

    <div class="project interventions">
      <figure class="project__pic">
        <a href="https://github.com/manaspgandhi" target="_blank">
          <img src="{{site.baseurl}}/img/featured/microprocessor/cnngpu.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/manaspgandhi" target="_blank">GPU'd Convolution Neural Net</a>
        </div>
        <p>Designed a Parallelized Convolutional Neural Net image classification model, parallelizing the convolution, ReLU, and other functions using Cuda and NVIDIA RSI.</p>
      </figcaption>
    </div>
  </div>
</section>
